<!-- app.component.html -->
<div class="container text-center">

	<button mat-button (click)="openDialog('Add',{})" mat-flat-button color="green"
		class="p-button-rounded p-button-text" class="btn btn-secondary">Add Row</button>
	<br>
	<table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
		<ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns">
			<th mat-header-cell *matHeaderCellDef> {{column}} </th>
			<td mat-cell *matCellDef="let element"> {{element[column]}} </td>
		</ng-container>



		<ng-container matColumnDef="expandedDetail">
			<td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
				<div class="example-element-detail"
					[@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
					<div class="example-element-diagram">
						<div class="example-element-position"> {{element.id}} </div>
						<div class="example-element-symbol"> {{element.name}} </div>
						<div class="example-element-name"> {{element.job}} </div>
						<div class="example-element-weight"> {{element.action}} </div>

						<div class="example-element-weight"> {{element.timeOfDay}} </div>
					</div>
					<!-- <div class="example-element-description">
          {{element.status}} -->
					<span class="example-element-description-attribution"> -- Wikipedia </span>
				</div>
				<!--  </div> -->
			</td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let element; columns: displayedColumns ;" class="example-element-row"
			[class.example-expanded-row]="expandedElement === element" (click)="expandedElement = element">
		</tr>
		<tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>

	</table>

</div>