.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }
  
  .example-header {
    min-height: 64px;
    padding: 8px 24px 0;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 750px;
  }
  table, th, td {
    border: 1px solid black;
  }
  
th
{
  font-weight: bold;
  color : blueviolet;
  

}
.aa{width: 49%;}
.example-additional-selection {
  opacity: 0.25;
  font-size: 0.25em;
  width: 10px ;
}
.mat-button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
td { 
  display: table-cell;
  vertical-align: inherit;
  text-align: inherit; 
  padding: 1px;
}
a{

  color : red;
}
  .mat-table {
    margin-block-start: auto;
    backface-visibility: visible;
    border-spacing: 0.5rem;
    width: auto;
    background: #fff;
    white-space: break-spaces;
    border-block-start: none;
    background-color: aliceblue;
    border-collapse: collapse;
}
th { 
 
  text-align: center; 
}